:root {
    --vermelhor: #E50914;
    --preta: #141414;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Elementos base*/
body {
    background: var(--preta);
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

header .container {
    /*coloca o menu acima, no topo da tela*/
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /*coloca menu afastado*/
}

header .logo {
    margin-left: 5px;
    color: var(--vermelhor);
    font-family: 'Arial Black', Times;
    font-size: 40px;
}

header nav a {
    /* mudamos a cor da letra do menu e damos distanciamento entre elas*/
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
}

header nav a:hover {
    /*usado para ao passar o mouse sobre o menu, ele muda a cor do mesmo*/
    color: #fff;
}

/*Filme principal*/

.filme-principal {
    font-size: 16px;
    background: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, .50)100%), url('/img/capa-vikings.jpg');

    height: 400px;
    background-size: cover;

    display: flex;
    /*tras os botões para toda a box*/
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .descricao {
    margin-bottom: 40px;
}

.titulo {
    font-size: 40px;
}